<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script type="text/javascript">
      let companios = `[
        {
          name: "big corporate",
          emplyees: 1000,
          location: "hyderabad",
          rating: 3.6,
        },
        {
          name: "small corporate",
          emplyees: 10,
          location: "rayachoty",
          rating: 4.6,
        },
      ]`;
      console.log(JSON.parse(companios)[0].name);
    </script>
  </body>
</html>
